<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
   <head>
      <title></title>
      <meta name="GENERATOR" content="Quanta Plus" />
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   </head>
   <body>
      <h1>Publikatsionstemplate </h1>
      <b>List template<br /><br /></b>
      <!-- ###LIST_RESULT_TEMPLATE### begin -->
      <div class="tx_foportal-list-result">###LIST_RESULT_FOR###</div>
      <!-- <div class ="tx_foportal-list-result">###LIST_RESULT_FOR2###</div> -->
      <div class="tx_foportal-list-result">###LIST_RESULT_PUB### ###LIST_RESULT_RES### ###LIST_RESULT_PRO###</div>
      <!-- <div class ="tx_foportal-list-result">###LIST_RESULT_RES###</div>
         <div class ="tx_foportal-list-result">###LIST_RESULT_PRO###</div> -->	
      <!-- ###LIST_RESULT_TEMPLATE### end -->
      <!-- ###LIST_BROWSE_TEMPLATE### begin -->
      <div class="tx_foportal-list-pagebrowser">###LIST_PAGEBROWSER###</div>
      <!-- ###LIST_BROWSE_TEMPLATE### end -->
      <div class="line"></div>
      <!-- ###LIST_ITEM_TEMPLATE### begin -->
      <div class="tx_foportal-list-container">
         <p class="tx_foportal-list-item">
            <!-- <span class="tx_foportal-list-author">###LIST_AUTHOR###</span><br /> -->
         <table border="0">
            <tr>
               <td>
                  <div class="pre">&nbsp;###LIST_ICON###&nbsp; &nbsp;</div>
               </td>
               <td><span class="tx_foportal-list-title">###LIST_TITLE###</span> </td>
            </tr>
            <tr>
               <td></td>
               <td><span class="tx_foportal-list-subtitle">###LIST_SUBTITLE### ###LIST_YEAR###</td>
            </tr>
         </table>
         </span><br />
         <div class="trenner"></div>
      </div>
      <!-- ###LIST_ITEM_TEMPLATE### end-->
      <b>Single template<br /><br /></b>
      <!-- ###SINGLE_TEMPLATE### begin -->
      <div class="tx_foportal-single-container">
         <h1>###SINGLE_HEAD_PUB### ###SINGLE_HEAD_PUB_NAME###</h1>
         <div class="tx_foportal-single-block">
            <div class="tx_foportal-single-head">
               ###SINGLE_INFO_ALLG###
            </div>
            <div class="tx_foportal-single-content">
               <div class="tx_foportal-single-content-bold">
                  ###SINGLE_AUTHOR_DESC###
               </div>
               <div class="tx_foportal-single-content-border">
                  ###SINGLE_AUTHOR###
               </div>
            </div>
			<div class="tx_foportal-single-content">
               <div class="tx_foportal-single-content-bold">
                  ###SINGLE_AUTHOR_HN_DESC###
               </div>
               <div class="tx_foportal-single-content-border">
                  ###SINGLE_AUTHOR_HN###
               </div>
            </div>
			<div class="tx_foportal-single-content">
               <div class="tx_foportal-single-content-bold">
                  ###SINGLE_YEAR_DESC###
               </div>
               <div class="tx_foportal-single-content-border">
                  ###SINGLE_YEAR###
               </div>
            </div>
            <div class="tx_foportal-single-content">
               <div class="tx_foportal-single-content-bold">
                  ###SINGLE_TITLE_DESC###
               </div>
               <div class="tx_foportal-single-content-border">
                  ###SINGLE_TITLE###
               </div>
            </div>
         </div>
		  
         <div class="tx_foportal-single-block">
            <div class="tx_foportal-single-head">
               ###SINGLE_INFO_WEITER###
            </div>
			  <div class="tx_foportal-single-content">
               <div class="tx_foportal-single-content-bold">
                  ###SINGLE_ABSTRACT_DESC###
               </div>
               <div class="tx_foportal-single-content-border">
                  ###SINGLE_ABSTRACT###
               </div>
            </div>
            <div class="tx_foportal-single-content">
               <div class="tx_foportal-single-content-bold">
                  ###SINGLE_PUBLISHER_DESC###
               </div>
               <div class="tx_foportal-single-content-border">
                  ###SINGLE_PUBLISHER###
               </div>
            </div>
            <div class="tx_foportal-single-content">
               <div class="tx_foportal-single-content-bold">
                  ###SINGLE_PLACE_DESC###
               </div>
               <div class="tx_foportal-single-content-border">
                  ###SINGLE_PLACE###
               </div>
            </div>
           
			<div class="tx_foportal-single-content">
               <div class="tx_foportal-single-content-bold">
                  ###SINGLE_COMMENT_DESC###
               </div>
               <div class="tx_foportal-single-content-border">
                  ###SINGLE_COMMENT###
               </div>
            </div>
			<div class="tx_foportal-single-content">
               <div class="tx_foportal-single-content-bold">
                  ###SINGLE_PAGE_DESC###
               </div>
               <div class="tx_foportal-single-content-border">
                  ###SINGLE_PAGE###
               </div>
            </div>
			<div class="tx_foportal-single-content">
               <div class="tx_foportal-single-content-bold">
                  ###SINGLE_EDITION_DESC###
               </div>
               <div class="tx_foportal-single-content-border">
                  ###SINGLE_EDITION###
               </div>
            </div>
            <div class="tx_foportal-single-content">
               <div class="tx_foportal-single-content-bold">
                  ###SINGLE_ISBN_DESC###
               </div>
               <div class="tx_foportal-single-content-border">
                  ###SINGLE_ISBN###
               </div>
            </div>
			<div class="tx_foportal-single-content">
               <div class="tx_foportal-single-content-bold">
                  ###SINGLE_LINK_DESC###
               </div>
               <div class="tx_foportal-single-content-border">
                  ###SINGLE_LINK###
               </div>
            </div>
          
			<<!-- div class="tx_foportal-single-content">
               <div class="tx_foportal-single-content-bold">
                  ###SINGLE_TAG_DESC###
               </div>
               <div class="tx_foportal-single-content-border">
                  ###SINGLE_TAG###
               </div>
            </div> -->
         </div>
         <div class="tx_foportal-single-content-border">
            ###SINGLE_RETURNLINK###			
         </div>
      </div>
      <!-- ###SINGLE_TEMPLATE### end-->
      <!-- ###SINGLE_TEMPLATE_PUB### begin -->
      <div class="tx_foportal-single-container">
         <div class="tx_foportal-single-block">
            <div class="tx_foportal-single-head">
            </div>
            <div class="tx_foportal-single-content">
               <div class="tx_foportal-single-content-bold">
               </div>
               <div class="tx_foportal-single-content-border">
               </div>
            </div>
         </div>
      </div>
      <div class="tx_foportal-single-container">
         <div class="tx_foportal-single-item">
            <span class="tx_foportal-single-pub-author">
               <H3>###SINGLE_PUB_AUTHOR###</H3>
            </span>
            <span class="tx_foportal-single-pub-title">
               <H3>###SINGLE_PUB_TITLE###</H3>
            </span>
            <p class="tx_foportal-single-pub">###SINGLE_PUB_TYPE###</p>
            <p class="tx_foportal-single-pub">###SINGLE_PUB_PUBLISHER###</p>
            <p class="tx_foportal-single-pub">###SINGLE_PUB_PLACE###</p>
            <p class="tx_foportal-single-pub">###SINGLE_PUB_YEAR###</p>
            <p class="tx_foportal-single-pub">###SINGLE_PUB_ISBN###</p>
            <p class="tx_foportal-single-pub">###SINGLE_PUB_VOLUME###</p>
            <p class="tx_foportal-single-pub">###SINGLE_PUB_SITES###</p>
            <p class="tx_foportal-single-pub">###SINGLE_PUB_LINK###</p>
            <p class="tx_foportal-single-pub">###SINGLE_PUB_ABSTRACT###</p>
            <p class="tx_foportal-single-pub">###SINGLE_PUB_TAG###</p>
            <p class="tx_foportal-single-pub">###SINGLE_PUB_RETURNLINK###</p>
         </div>
      </div>
      <!-- ###SINGLE_TEMPLATE_PUB### end-->
      <!-- ###SINGLE_TEMPLATE_PROJ### begin -->
      <div class="tx_foportal-single-container">
         <h1>###SINGLE_PROJECT_HEAD### ###SINGLE_PROJECT_TITLE###</h1>
         <div class="tx_foportal-single-block">
            <div class="tx_foportal-single-head">
               ###SINGLE_PROJECT_INFO_ALG###
            </div>
            <div class="tx_foportal-single-content">
               <div class="tx_foportal-single-content-bold">
                  ###SINGLE_PROJECT_TITLE_DESC###
               </div>
               <div class="tx_foportal-single-content-border">
                  ###SINGLE_PROJECT_TITLE###
               </div>
			   
			   <div class="tx_foportal-single-content-bold">
                  ###SINGLE_PROJECT_DESC_DESC###
               </div>
			   <div class="tx_foportal-single-content-border">
                  ###SINGLE_PROJECT_DESC###
               </div>
			   <div class="tx_foportal-single-content-bold">
                  ###SINGLE_PROJECT_STATE_DESC###
               </div>
			   <div class="tx_foportal-single-content-border">
                  ###SINGLE_PROJECT_STATE###
               </div>
               <div class="tx_foportal-single-content-bold">
                  ###SINGLE_PROJECT_MANAGER_DESC###
               </div>
               <div class="tx_foportal-single-content-border">
                  ###SINGLE_PROJECT_MANAGER###
               </div>
               <div class="tx_foportal-single-content-bold">
                  ###SINGLE_PROJECT_FACULTY_DESC###
               </div>
               <div class="tx_foportal-single-content-border">
                  ###SINGLE_PROJECT_FACULTY###
               </div>
               <div class="tx_foportal-single-content-bold">
                  ###SINGLE_PROJECT_INSTITUTE_DESC###
               </div>
               <div class="tx_foportal-single-content-border">
                  ###SINGLE_PROJECT_INSTITUTE###
               </div>
               <div class="tx_foportal-single-content-bold">
                  ###SINGLE_PROJECT_VOLUME_DESC###
               </div>
               <div class="tx_foportal-single-content-border">
                  ###SINGLE_PROJECT_VOLUME###
               </div>
            </div>
         </div>
         <div class="tx_foportal-single-block">
            <div class="tx_foportal-single-head">
               ###SINGLE_PROJECT_INFO_WEITER###
            </div>
            <div class="tx_foportal-single-content">
               <div class="tx_foportal-single-content-bold">
                  ###SINGLE_PROJECT_TYPE_DESC###
               </div>
               <div class="tx_foportal-single-content-border">
                  ###SINGLE_PROJECT_TYPE###
               </div>
               <div class="tx_foportal-single-content-bold">
                  ###SINGLE_PROJECT_BEGIN_DESC###
               </div>
               <div class="tx_foportal-single-content-border">
                  ###SINGLE_PROJECT_BEGIN###
               </div>
               <div class="tx_foportal-single-content-bold">
                  ###SINGLE_PROJECT_END_DESC###
               </div>
               <div class="tx_foportal-single-content-border">
                  ###SINGLE_PROJECT_END###
               </div>
			   <div class="tx_foportal-single-content-bold">
                  ###SINGLE_PROJECT_RUNTIME_DESC###
               </div>
               <div class="tx_foportal-single-content-border">
                  ###SINGLE_PROJECT_RUNTIME###
               </div>
               <div class="tx_foportal-single-content-bold">
                  ###SINGLE_PROJECT_FUNDING_DESC###
               </div>
               <div class="tx_foportal-single-content-border">
                  ###SINGLE_PROJECT_FUNDING###
               </div>
               <div class="tx_foportal-single-content-bold">
                  ###SINGLE_PROJECT_FUNDER_DESC###
               </div>
               <div class="tx_foportal-single-content-border">
                  ###SINGLE_PROJECT_FUNDER###
               </div>
			    <div class="tx_foportal-single-content-bold">
                  ###SINGLE_PROJECT_LEITER_KONTAKT_DESC###
               </div>
               <div class="tx_foportal-single-content-border">
                  ###SINGLE_PROJECT_LEITER_KONTAKT###
               </div>
			   <!-- <div class="tx_foportal-single-content-bold">
                  ###SINGLE_PROJECT_MITARBEITER_KONTAKT_DESC###
               </div> -->
               <div class="tx_foportal-single-content-border">
                  ###SINGLE_PROJECT_MITARBEITER_KONTAKT###
               </div>
               <div class="tx_foportal-single-content-bold">
                  ###SINGLE_PROJECT_EMPHASIS_DESC###
               </div>
               <div class="tx_foportal-single-content-border">
                  ###SINGLE_PROJECT_EMPHASIS###
               </div>
               <div class="tx_foportal-single-content-bold">
                  ###SINGLE_PROJECT_WEBSITE_DESC###
               </div>
               <div class="tx_foportal-single-content-border">
                  ###SINGLE_PROJECT_WEBSITE###
               </div>
            </div>
         </div>
         <div class="tx_foportal-single-content-border">
            ###SINGLE_RETURNLINK###			
         </div>
      </div>
      <!-- ###SINGLE_TEMPLATE_PROJ### end-->
      <!-- ###SINGLE_TEMPLATE_PROF### begin -->
      <div class="tx_foportal-single-container">
         <h1>###SINGLE_PROFILE_HEAD### ###SINGLE_PROFILE_NAME###</h1>
         <div class="tx_foportal-single-block">
            <div class="tx_foportal-single-head">
               ###SINGLE_PROFILE_INFO_ALG###
            </div>
            <div class="tx_foportal-single-content">
               <div class="tx_foportal-single-content-bold">
                  ###SINGLE_PROFILE_NAME_DESC###
               </div>
               <div class="tx_foportal-single-content-border">
                  ###SINGLE_PROFILE_NAME###
               </div>
			   <div class="tx_foportal-single-personbox">
                  ###SINGLE_PROFILE_PELEMENT###
               </div>
               <div class="tx_foportal-single-content-bold">
                  ###SINGLE_PROFILE_FUNKTION_DESC###
               </div>
               <div class="tx_foportal-single-content-border">
                  ###SINGLE_PROFILE_FUNKTION###
               </div>
               <div class="tx_foportal-single-content-bold">
                  ###SINGLE_PROFILE_FACULTY_DESC###
               </div>
               <div class="tx_foportal-single-content-border">
                  ###SINGLE_PROFILE_FACULTY###
               </div>
               <div class="tx_foportal-single-content-bold">
                  ###SINGLE_PROFILE_INSTITUTE_DESC###
               </div>
               <div class="tx_foportal-single-content-border">
                  ###SINGLE_PROFILE_INSTITUTE###
               </div>
               <div class="tx_foportal-single-content-bold">
                  ###SINGLE_PROFILE_EMPHASIS_DESC###
               </div>
               <div class="tx_foportal-single-content-border">
                  ###SINGLE_PROFILE_EMPHASIS###
               </div>
               <div class="tx_foportal-single-content-bold">
                  ###SINGLE_PROFILE_INDIVIDUAL_EMPHASIS_DESC###
               </div>
               <div class="tx_foportal-single-content-border">
                  ###SINGLE_PROFILE_INDIVIDUAL_EMPHASIS###
               </div>
            </div>
         </div>
         <div class="tx_foportal-single-block">
            <div class="tx_foportal-single-head">
               ###SINGLE_PROFILE_INFO_WEITER###
            </div>
            <div class="tx_foportal-single-content">
               <div class="tx_foportal-single-content-bold">
                  ###SINGLE_PROFILE_MEMBERSHIPS_DESC###
               </div>
               <div class="tx_foportal-single-content-border">
                  ###SINGLE_PROFILE_MEMBERSHIPS###
               </div>
               <div class="tx_foportal-single-content-bold">
                  ###SINGLE_PROFILE_EQUIPTMENT_DESC###
               </div>
               <div class="tx_foportal-single-content-border">
                  ###SINGLE_PROFILE_EQUIPTMENT###
               </div>
               <div class="tx_foportal-single-content-bold">
                  ###SINGLE_PROFILE_PROJECTS_DESC###
               </div>
               <div class="tx_foportal-single-content-border">
                  ###SINGLE_PROFILE_PROJECTS###
               </div>
               <div class="tx_foportal-single-content-bold">
                  ###SINGLE_PROFILE_COOPERATIONS_DESC###
               </div>
               <div class="tx_foportal-single-content-border">
                  ###SINGLE_PROFILE_COOPERATIONS###
               </div>
               <div class="tx_foportal-single-content-bold">
                  ###SINGLE_PROFILE_AWARDS_DESC###
               </div>
               <div class="tx_foportal-single-content-border">
                  ###SINGLE_PROFILE_AWARDS###
               </div>
               <div class="tx_foportal-single-content-bold">
                  ###SINGLE_PROFILE_LINK_DESC###
               </div>
               <div class="tx_foportal-single-content-border">
                  ###SINGLE_PROFILE_LINK###
               </div>
               <div class="tx_foportal-single-content-bold">
                  ###SINGLE_PROFILE_ADD_INFO_DESC###
               </div>
               <div class="tx_foportal-single-content-border">
                  ###SINGLE_PROFILE_ADD_INFO###
               </div>
            </div>
         </div>
         <div class="tx_foportal-single-content-border">
            ###SINGLE_RETURNLINK###
         </div>
      </div>
      <!-- ###SINGLE_TEMPLATE_PROF### end-->
      <!--###SEARCH_TEMPLATE### begin -->
      <div class="tx_foportal-search-container">
       <!--  <div class="tx_foportal-search-titel">###SEARCH_TITLE### ###LOGO###</div> -->
		 <div class="tx_foportal-search-titel">###SEARCH_TITLE###</div>
         ###SEARCH_BEGIN_FORM###
         <div class="tx_foportal-search-fieldcontainer-top">
            <!-- <div class="tx_foportal-search-fielddescription">###SEARCH_SEARCH_FOR_DESC###:</div> -->
			<!-- <a href="#" title="This is some information for our tooltip."><span title="More">CSS3 Tooltip</span></a> -->
             <div title="Suchfeld" class="tx_foportal-search-field-div"  >###SEARCH_SEARCH_FOR_FIELD### <span class="tx_foportal-search-field">###SEARCH_SUBMIT###</span></div>
			
         </div>
         <div class="tx_foportal-search-fieldcontainer-subs">
            <!--  <div class="tx_foportal-search-fielddescription">###SEARCH_SEARCH_WHAT_DESC###</div> -->
            <span class="tx_foportal-search-field-all">###SEARCH_SEARCH_ALL_FIELD###</span>
            <span class="tx_foportal-search-field-res">###SEARCH_SEARCH_RESEARCHER_FIELD###</span>
            <span class="tx_foportal-search-field-pro">###SEARCH_SEARCH_PROJECTS_FIELD###</span>
            <span class="tx_foportal-search-field-pub">###SEARCH_SEARCH_PUBLICATIONS_FIELD###</span>
         </div>
         <div class="tx_foportal-search-fieldcontainer">
            <div class="tx_foportal-search-fielddescription">&nbsp;</div>
            <!-- <div class="tx_foportal-search-field">###SEARCH_SUBMIT###</div> -->
         </div>
         ###SHOW_FILTER###
         <!-- <div id="tx_foportal-search-fieldcontainer1" style="display:none;"> -->
         <div id="tx_foportal-search-fieldcontainer1" ###SHOW_SWITCH###">
         <div class="tx_foportal-search-alpha-desc">###SEARCH_ALPHA_DESC###:</div>
         <div class="tx_foportal-search-field">###SEARCH_ALPHA###</div>
         <div class="tx_foportal-search-fielddescription">###SEARCH_SEARCH_NAME_DESC###:</div>
         <div class="tx_foportal-search-field">###SEARCH_SEARCH_NAME_FIELD###</div>
         <div class="tx_foportal-search-fielddescription">###SEARCH_SEARCH_FB_DESC###:</div>
         <div class="tx_foportal-search-field">###SEARCH_SEARCH_FB_FIELD###</div>
         <div class="tx_foportal-search-fielddescription">###SEARCH_SEARCH_YEAR_DESC###:</div>
         <div class="tx_foportal-search-field-year">###SEARCH_SEARCH_YEAR_FIELD### bis ###SEARCH_SEARCH_YEAR_FIELD2### </div>
         <div class="tx_foportal-search-fielddescription">###SEARCH_SEARCH_FSP_DESC###:</div>
         <div class="tx_foportal-search-field">###SEARCH_SEARCH_FSP_FIELD###</div>
         <div class="tx_foportal-search-fielddescription">###SEARCH_SEARCH_INST_DESC###:</div>
         <div class="tx_foportal-search-field">###SEARCH_SEARCH_INST_FIELD###</div>
      </div>
      <!-- <div class="tx_foportal-search-fieldcontainer">
         <div class="tx_foportal-search-fielddescription">&nbsp;</div>
         <div class="tx_foportal-search-field">###SEARCH_SUBMIT###</div>
                </div> -->
      ###SEARCH_END_FORM###
      ###STATISTIK###
	  ###TAGSUCHE###
      <p>&nbsp;</p>
      </div>
      <!-- ###SEARCH_TEMPLATE### end-->
      <!--###STATISTIK_TEMPLATE### begin -->
      <div class="tx_foportal-search-container">
         <div class="tx_foportal-statistik-caption">###GOOGLE_API### </div>
         <div class="tx_foportal-search-fieldcontainer-top">
            <div class="tx_foportal-statistik-field-div">
               ###DRAWAREA###
            </div>
            <div class="tx_foportal-statistik-field-div">
               ###BACK###
            </div>
         </div>
      </div>
      <!-- ###STATISTIK_TEMPLATE### end-->
      <!--###TAGSEARCH_TEMPLATE### begin -->
      <div class="tx_foportal-search-container">
         <div class="tx_foportal-tag-caption">###CAPTION### </div>
         <div class="tx_foportal-tag-index">###INDEX### </div>
         <div class="tx_foportal-tag-list">###LISTE### </div>
         <div class="tx_foportal-tag-list">###BACK### </div>
      </div>
      <!-- ###TAGSEARCH_TEMPLATE### end-->
	  
	  
	  
	  <!--###INPUT_FORM_TEMPLATE### begin -->
      <div class="tx_foportal-search-container">
         <div class="tx_foportal-input-form-caption">###CAPTION### </div>
         <div class="tx_foportal-input-form-index">###INDEX### </div>
         <div class="tx_foportal-input-form-list">###LISTE### </div>
         <div class="tx_foportal-input-form-list">###BACK### </div>
      </div>
      <!-- ###INPUT_FORM_TEMPLATE### end-->
	  
	  <!--###INPUT_FORM_PUB### begin -->
	   
	  
			###INPUT_FORM_BEGIN###
	<div class="tx_foportal-input-cont">
		<div class="tx_foportal-inputfield">
			###FORM_PUB_TITEL###
		</div>
		<div class="tx_foportal-inputfield">
			###FORM_PUB_TYP###
		</div>
		<div class="tx_foportal-inputfield">
			###FORM_PUB_AUTOR###
		</div>
		<div class="tx_foportal-inputfield">
			###FORM_PUB_BEITRAG###
		</div>
		<div class="tx_foportal-inputfield">
			###FORM_PUB_VERLAG###
		</div>
		<div class="tx_foportal-inputfield">
			###FORM_PUB_ORT###
		</div>
		<div class="tx_foportal-inputfield">
			###FORM_PUB_ISBN###
		</div>
		<div class="tx_foportal-inputfield">
			###FORM_PUB_JAHR###
		</div>
		<div class="tx_foportal-inputfield">
			###FORM_PUB_AUSGABE###
		</div>
		<div class="tx_foportal-inputfield">
			###FORM_PUB_SEITE###
		</div>
		<div class="tx_foportal-inputfield">
			###FORM_PUB_LINK###
		</div>
		<div class="tx_foportal-inputfield">
			###FORM_PUB_TAGS###
		</div>
		<div class="tx_foportal-inputfield">
			###FORM_PUB_ABSTRACT###
		</div>
		
		<div class="tx_foportal-inputfield">
			###FORM_PUB_SUBMIT###
		</div>
		<div class="tx_foportal-inputfield">
			###FORM_PUB_HIDDEN###
		</div>
	</div>
		<!-- <div class="tx_foportal-inputfield">
			<input type="hidden" name="id" value="###PID###" />
			<input type="hidden" name="tx_foportal_pi1[submitted]" value="1" />
		</div> -->
	</form>
      <!-- ###INPUT_FORM_PUB### end-->
	  
	 	  <!--###INPUT_FORM_PROJ### begin -->
	  
	  
			###INPUT_FORM_BEGIN###
		<div class="tx_foportal-input-cont">	
	   
		<div class="tx_foportal-inputfield">
			###FORM_PROJ_TITEL###
		</div>
		<div class="tx_foportal-inputfield">
			###FORM_PROJ_TYP###
		</div>
		<div class="tx_foportal-inputfield">
			###FORM_PROJ_ABSTRACT###
		</div>
		<div class="tx_foportal-inputfield">
			###FORM_PROJ_TAGS###
		</div>
		<div class="tx_foportal-inputfield" id="tx_foportal-leiter">
			###FORM_PROJ_LEITER###
		</div>
		<div class="tx_foportal-inputfield"id="tx_foportal-mitarbeiter">
			###FORM_PROJ_MITARBEITER###
		</div>
		<div class="tx_foportal-inputfield">
			###FORM_PROJ_FB###
		</div>
		<div class="tx_foportal-inputfield">
			###FORM_PROJ_INST###
		</div>
		<div class="tx_foportal-inputfield">
			###FORM_PROJ_FSP###
		</div>
		<div class="tx_foportal-inputfield">
			###FORM_PROJ_JAHR###
		</div>
		<div class="tx_foportal-inputfield">
			###FORM_PROJ_BEGINN###
		</div>
		<div class="tx_foportal-inputfield">
			###FORM_PROJ_ENDE###
		</div>
		<div class="tx_foportal-inputfield">
			###FORM_PROJ_VOL###
		</div>
		<div class="tx_foportal-inputfield">
			###FORM_PROJ_FOERDER###
		</div>
		<div class="tx_foportal-inputfield">
			###FORM_PROJ_GEBER###
		</div>
		
		<div class="tx_foportal-inputfield">
			###FORM_PROJ_WEBSEITE###
		</div>
		
		<div class="tx_foportal-inputfield">
			###FORM_PROJ_SUBMIT###
		</div>
		
		<div class="tx_foportal-inputfield">
			###FORM_PROJ_HIDDEN###
		</div>
	</div>
		<!-- <div class="tx_foportal-inputfield">
			<input type="hidden" name="id" value="###PID###" />
			<input type="hidden" name="tx_foportal_pi1[submitted]" value="1" />
		</div> -->
		
	</form>
      <!-- ###INPUT_FORM_PROJ### end--> 
	 
	 <!--###INPUT_FORM_AUSW### begin -->
	  ###INPUT_FORM_BEGIN###
	<div class="tx_foportal-input-cont">
	  <div class="tx_foportal-inputfield">
			###FORM_AUSW_TEXT###
		</div>
	  <div class="tx_foportal-inputfield">
			###FORM_AUSW###
		</div>
		<div class="tx_foportal-inputfield">
			###FORM_AUSW_HIDDEN###
		</div>
		<div class="tx_foportal-inputfield">
			###FORM_AUSW_SUBMIT###
		</div>
	</div>
	  </form>
	  <!--###INPUT_FORM_AUSW### end -->
	
	<!--###INPUT_FORM_PROF### begin -->
	  
	  
			###INPUT_FORM_BEGIN###
			
	<div class="tx_foportal-input-cont">   
		<div class="tx_foportal-inputfield">
			###FORM_PROF_NAME###
		</div>
		<div class="tx_foportal-inputfield">
			###FORM_PROF_FUNKTION###
		</div>
		<div class="tx_foportal-inputfield">
			###FORM_PROF_INST###
		</div>
		<div class="tx_foportal-inputfield">
			###FORM_PROF_FB###
		</div>
		<div class="tx_foportal-inputfield" >
			###FORM_PROF_FSP###
		</div>
		
		<div class="tx_foportal-inputfield"id="tx_foportal-ind_fsp">
			###FORM_PROF_IND_FSP###
		</div>
		
		<div class="tx_foportal-inputfield">
			###FORM_PROF_TAG###
		</div>
		
		<div class="tx_foportal-inputfield">
			###FORM_PROF_MITGLIED###
		</div>
		<div class="tx_foportal-inputfield">
			###FORM_PROF_AUSST###
		</div>
		<div class="tx_foportal-inputfield">
			###FORM_PROF_KOOP###
		</div>
		<div class="tx_foportal-inputfield">
			###FORM_PROF_PREISE###
		</div>
		<div class="tx_foportal-inputfield" id="tx_foportal-links">
			###FORM_PROF_LINKS###
		</div>
		<!-- <div class="tx_foportal-inputfield">
			###FORM_PRO_ZUSATZ###
		</div> -->
		
		<div class="tx_foportal-inputfield">
			###FORM_PROF_SUBMIT###
		</div>
		
		<div class="tx_foportal-inputfield">
			###FORM_PROF_HIDDEN###
		</div>
	</div>	
		<!-- <div class="tx_foportal-inputfield">
			<input type="hidden" name="id" value="###PID###" />
			<input type="hidden" name="tx_foportal_pi1[submitted]" value="1" />
		</div> -->
		
	</form>
      <!-- ###INPUT_FORM_PROF### end--> 
	 
   </body>
</html>